Flask
keras
numpy
scipy
jupyter
matplotlib
Pillow
scikit-learn
pandas
pandas-datareader
pandas-gbq
pandas-profiling
pandocfilters
pickleshare
tensorflow
prettytensor
requests
requests-oauthlib
